<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
       
	<bean id="dao" class="com.xl1.stts.abonnement.dao.IAbonnementDAOJPAImpl"></bean>
	<bean id="service" class="com.xl1.stts.abonnement.service.IAbonnementServiceImpl">
		<property name="dao" ref="dao"></property>
	</bean>
	<!-- Define PostgreSQL datasource -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/STTS_ABONNEMENT"/>
        <property name="username" value="postgres"/>
        <property name="password" value="postgres"/>
    </bean>
    
    <!-- Persistence Unit Manager -->
    <bean id="persistenceUnitManager" class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
        <property name="persistenceXmlLocations">
            <list>
                <value>classpath*:META-INF/persistence.xml</value>
            </list>
        </property>
        <property name="defaultDataSource" ref="dataSource"></property>
    </bean>
    <!-- EntityManagerFactory -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitManager" ref="persistenceUnitManager"/>
    </bean>
    <!-- Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    <!-- La transaction est geré par  @Transactionnal -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!-- Enable annotation-driven configuration: scan les class pour trouver@PersistenceContext pour inject l'unité de persistance EntintyManager -->
    <context:annotation-config></context:annotation-config>
    <!-- Enable component scanning for automatic bean discovery -->
    <!--context:component-scan base-package="com.example"/-->

    <!-- Enable @Transactional support -->
</beans>